.joke-switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 3rem;

  .switch-button {
    border: #565656 solid 1px;
    border-right: none;
    background-color: white;
    padding: 0.2rem 0.5rem;
    transition: color 0.3s;
    transition: background-color 0.3s;
  }

  .left-button {
    border-radius: 10px 0 0 10px;
  }

  .right-button {
    border-radius: 0 10px 10px 0;
    border: #565656 solid 1px;
  }

  .disabled,
  .switch-button.disabled:hover {
    color: #565656;
    background-color: white;
  }

  .switch-button:hover {
    color: white;
    background-color: #de3d5d;
    transition: all 0.3s;
  }
}
