@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap');

html {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

body {
  min-width: 300px;
  background-image: linear-gradient(to right top,
   #800f2f, #971b3a, #ae2646, #c63251,
   #de3d5d, #e94d69, #f45c76, #ff6b83,
   #ff7e93, #ff90a3, #ffa2b2, #ffb3c1);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
